-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: lakshmi_finance
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Temporary table structure for view `customer_loan_summary`
--

DROP TABLE IF EXISTS `customer_loan_summary`;
/*!50001 DROP VIEW IF EXISTS `customer_loan_summary`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `customer_loan_summary` AS SELECT
 1 AS `id`,
  1 AS `customer_no`,
  1 AS `name`,
  1 AS `mobile`,
  1 AS `total_loans`,
  1 AS `active_loans`,
  1 AS `closed_loans`,
  1 AS `total_principal`,
  1 AS `active_principal` */;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `customers`
--

DROP TABLE IF EXISTS `customers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `customers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `customer_no` varchar(20) NOT NULL,
  `name` varchar(100) NOT NULL,
  `mobile` varchar(15) NOT NULL,
  `address` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `customer_no` (`customer_no`),
  KEY `idx_customers_customer_no` (`customer_no`),
  KEY `idx_customers_mobile` (`mobile`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customers`
--

LOCK TABLES `customers` WRITE;
/*!40000 ALTER TABLE `customers` DISABLE KEYS */;
INSERT INTO `customers` VALUES (17,'154','bhjj','7894561230','klhgf\r\n','2025-09-19 05:54:41'),(18,'22','kaen','7894561230','egfsgf','2025-10-14 16:36:17'),(19,'52','jk','7894561230','lmkjhb\r\n','2025-10-27 14:28:33');
/*!40000 ALTER TABLE `customers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `daily_transaction_summary`
--

DROP TABLE IF EXISTS `daily_transaction_summary`;
/*!50001 DROP VIEW IF EXISTS `daily_transaction_summary`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `daily_transaction_summary` AS SELECT
 1 AS `date`,
  1 AS `total_credit`,
  1 AS `total_debit`,
  1 AS `net_amount` */;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `groups`
--

DROP TABLE IF EXISTS `groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `groups` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `groups`
--

LOCK TABLES `groups` WRITE;
/*!40000 ALTER TABLE `groups` DISABLE KEYS */;
INSERT INTO `groups` VALUES (4,'Sid','2025-10-27 14:27:20');
/*!40000 ALTER TABLE `groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `interest`
--

DROP TABLE IF EXISTS `interest`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `interest` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `loan_id` int(11) NOT NULL,
  `interest_date` date NOT NULL,
  `interest_amount` decimal(10,2) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_interest_loan_id` (`loan_id`),
  KEY `idx_interest_date` (`interest_date`),
  CONSTRAINT `interest_ibfk_1` FOREIGN KEY (`loan_id`) REFERENCES `loans` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `interest`
--

LOCK TABLES `interest` WRITE;
/*!40000 ALTER TABLE `interest` DISABLE KEYS */;
INSERT INTO `interest` VALUES (16,15,'2025-10-27',12000.00,'2025-10-27 14:22:38');
/*!40000 ALTER TABLE `interest` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `loan_closings`
--

DROP TABLE IF EXISTS `loan_closings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `loan_closings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `loan_id` int(11) NOT NULL,
  `closing_date` date NOT NULL,
  `total_interest_paid` decimal(10,2) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `loan_id` (`loan_id`),
  CONSTRAINT `loan_closings_ibfk_1` FOREIGN KEY (`loan_id`) REFERENCES `loans` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `loan_closings`
--

LOCK TABLES `loan_closings` WRITE;
/*!40000 ALTER TABLE `loan_closings` DISABLE KEYS */;
INSERT INTO `loan_closings` VALUES (12,16,'2025-10-14',0.00,'2025-10-14 16:37:51'),(13,17,'2025-10-27',200000.00,'2025-10-27 14:22:18'),(14,15,'2025-10-27',0.00,'2025-10-27 14:23:02');
/*!40000 ALTER TABLE `loan_closings` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `after_loan_closing_insert` AFTER INSERT ON `loan_closings` FOR EACH ROW BEGIN
    UPDATE loans SET status = 'closed' WHERE id = NEW.loan_id;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Temporary table structure for view `loan_details`
--

DROP TABLE IF EXISTS `loan_details`;
/*!50001 DROP VIEW IF EXISTS `loan_details`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `loan_details` AS SELECT
 1 AS `id`,
  1 AS `loan_no`,
  1 AS `loan_date`,
  1 AS `principal_amount`,
  1 AS `interest_rate`,
  1 AS `total_weight`,
  1 AS `net_weight`,
  1 AS `pledge_items`,
  1 AS `status`,
  1 AS `customer_no`,
  1 AS `customer_name`,
  1 AS `mobile`,
  1 AS `total_interest_paid`,
  1 AS `closing_interest_paid` */;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `loans`
--

DROP TABLE IF EXISTS `loans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `loans` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `loan_no` varchar(20) NOT NULL,
  `customer_id` int(11) NOT NULL,
  `loan_date` date NOT NULL,
  `principal_amount` decimal(10,2) NOT NULL,
  `interest_rate` decimal(5,2) NOT NULL,
  `total_weight` decimal(8,3) DEFAULT NULL,
  `net_weight` decimal(8,3) DEFAULT NULL,
  `pledge_items` text DEFAULT NULL,
  `status` enum('active','closed') DEFAULT 'active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `loan_no` (`loan_no`),
  KEY `idx_loans_loan_no` (`loan_no`),
  KEY `idx_loans_customer_id` (`customer_id`),
  KEY `idx_loans_status` (`status`),
  KEY `idx_loans_date` (`loan_date`),
  CONSTRAINT `loans_ibfk_1` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `loans`
--

LOCK TABLES `loans` WRITE;
/*!40000 ALTER TABLE `loans` DISABLE KEYS */;
INSERT INTO `loans` VALUES (15,'1',17,'2025-09-19',12000.00,1.00,10.000,8.000,'ring\r\n','closed','2025-09-19 05:55:09'),(16,'78',17,'2025-10-13',100000.00,12.00,100.000,2.000,'','closed','2025-10-13 15:29:14'),(17,'255',18,'2025-10-14',200000.00,1.00,12.000,10.000,'','closed','2025-10-14 16:37:26'),(18,'45',17,'2025-10-27',10000.00,10.00,1200.000,120.000,'fdg','active','2025-10-27 14:59:29'),(19,'5',19,'2025-10-27',1000.00,1.00,1200.000,12.000,'dtgf\r\n','active','2025-10-27 15:07:01');
/*!40000 ALTER TABLE `loans` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `before_loan_insert` BEFORE INSERT ON `loans` FOR EACH ROW BEGIN
    IF NEW.principal_amount <= 0 THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'Principal amount must be greater than 0';
    END IF;
    
    IF NEW.interest_rate <= 0 OR NEW.interest_rate > 100 THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'Interest rate must be between 0 and 100';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Temporary table structure for view `product_summary`
--

DROP TABLE IF EXISTS `product_summary`;
/*!50001 DROP VIEW IF EXISTS `product_summary`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `product_summary` AS SELECT
 1 AS `id`,
  1 AS `name`,
  1 AS `name_tamil`,
  1 AS `group_name`,
  1 AS `loan_count`,
  1 AS `total_value` */;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `products`
--

DROP TABLE IF EXISTS `products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `products` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `name_tamil` varchar(100) DEFAULT NULL,
  `group_id` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_products_group_id` (`group_id`),
  CONSTRAINT `products_ibfk_1` FOREIGN KEY (`group_id`) REFERENCES `groups` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `products`
--

LOCK TABLES `products` WRITE;
/*!40000 ALTER TABLE `products` DISABLE KEYS */;
/*!40000 ALTER TABLE `products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transactions`
--

DROP TABLE IF EXISTS `transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `transactions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `date` date NOT NULL,
  `transaction_name` varchar(100) NOT NULL,
  `transaction_type` enum('credit','debit') NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `description` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_transactions_date` (`date`),
  KEY `idx_transactions_type` (`transaction_type`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transactions`
--

LOCK TABLES `transactions` WRITE;
/*!40000 ALTER TABLE `transactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `name` varchar(100) NOT NULL,
  `email` varchar(100) DEFAULT NULL,
  `role` enum('admin','user') DEFAULT 'user',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (0,'Admin','$2y$10$oIVZYG/mxI9Yzkb8D6oqROeC9agwCutcboU5ho.iVO/uebCs3XE6e','Admin','Admin@gmail.com','admin','2025-09-19 04:59:41');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Final view structure for view `customer_loan_summary`
--

/*!50001 DROP VIEW IF EXISTS `customer_loan_summary`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `customer_loan_summary` AS select `c`.`id` AS `id`,`c`.`customer_no` AS `customer_no`,`c`.`name` AS `name`,`c`.`mobile` AS `mobile`,count(`l`.`id`) AS `total_loans`,sum(case when `l`.`status` = 'active' then 1 else 0 end) AS `active_loans`,sum(case when `l`.`status` = 'closed' then 1 else 0 end) AS `closed_loans`,sum(`l`.`principal_amount`) AS `total_principal`,sum(case when `l`.`status` = 'active' then `l`.`principal_amount` else 0 end) AS `active_principal` from (`customers` `c` left join `loans` `l` on(`c`.`id` = `l`.`customer_id`)) group by `c`.`id`,`c`.`customer_no`,`c`.`name`,`c`.`mobile` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `daily_transaction_summary`
--

/*!50001 DROP VIEW IF EXISTS `daily_transaction_summary`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `daily_transaction_summary` AS select `transactions`.`date` AS `date`,sum(case when `transactions`.`transaction_type` = 'credit' then `transactions`.`amount` else 0 end) AS `total_credit`,sum(case when `transactions`.`transaction_type` = 'debit' then `transactions`.`amount` else 0 end) AS `total_debit`,sum(case when `transactions`.`transaction_type` = 'credit' then `transactions`.`amount` else -`transactions`.`amount` end) AS `net_amount` from `transactions` group by `transactions`.`date` order by `transactions`.`date` desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `loan_details`
--

/*!50001 DROP VIEW IF EXISTS `loan_details`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `loan_details` AS select `l`.`id` AS `id`,`l`.`loan_no` AS `loan_no`,`l`.`loan_date` AS `loan_date`,`l`.`principal_amount` AS `principal_amount`,`l`.`interest_rate` AS `interest_rate`,`l`.`total_weight` AS `total_weight`,`l`.`net_weight` AS `net_weight`,`l`.`pledge_items` AS `pledge_items`,`l`.`status` AS `status`,`c`.`customer_no` AS `customer_no`,`c`.`name` AS `customer_name`,`c`.`mobile` AS `mobile`,coalesce(sum(`i`.`interest_amount`),0) AS `total_interest_paid`,coalesce(`lc`.`total_interest_paid`,0) AS `closing_interest_paid` from (((`loans` `l` join `customers` `c` on(`l`.`customer_id` = `c`.`id`)) left join `interest` `i` on(`l`.`id` = `i`.`loan_id`)) left join `loan_closings` `lc` on(`l`.`id` = `lc`.`loan_id`)) group by `l`.`id`,`l`.`loan_no`,`l`.`loan_date`,`l`.`principal_amount`,`l`.`interest_rate`,`l`.`total_weight`,`l`.`net_weight`,`l`.`pledge_items`,`l`.`status`,`c`.`customer_no`,`c`.`name`,`c`.`mobile`,`lc`.`total_interest_paid` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `product_summary`
--

/*!50001 DROP VIEW IF EXISTS `product_summary`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `product_summary` AS select `p`.`id` AS `id`,`p`.`name` AS `name`,`p`.`name_tamil` AS `name_tamil`,`g`.`name` AS `group_name`,count(distinct `l`.`id`) AS `loan_count`,sum(`l`.`principal_amount`) AS `total_value` from ((`products` `p` left join `groups` `g` on(`p`.`group_id` = `g`.`id`)) left join `loans` `l` on(`l`.`pledge_items` like concat('%',`p`.`name`,'%'))) group by `p`.`id`,`p`.`name`,`p`.`name_tamil`,`g`.`name` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-27 20:39:12
